@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Quicksand', sans-serif !important;
}

ul.usergroups {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        width: 20%;
        float: left;
        a {
            border: none;
            img {
                width: 100%;
            }
        }
    }
}

ul.logos {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        width: 10%;
        float: left;
        a {
            border: none;
            img {
                width: 100%;
            }
        }
        &.trans {
            img {
                width: 79%;
                margin-top: 13px;
            }
        }
    }
}

.organisers, .sponsors {
    .row {
        h3 {
            font-size: 1em;
        }
        p {
            font-size: 0.7em;
        }
    }
}

.sponsors {
    .sponsor {
        border: 1px solid #999;
        padding: 0.2em;
        border-radius: 5px;
        margin-bottom: 1em;
        .sponsor-level {
            font-size: 80%;
            height: 20px;
            line-height: 20px;
            padding: 0 0.5em;
            &.sponsor-level-gold {
                background: gold radial-gradient(lightyellow, gold);
            }
            &.sponsor-level-silver {
                background: #999 radial-gradient(#ddd, #999);
                color: #fff;
            }
            &.sponsor-level-bronze {
                background: #CD7F32 radial-gradient(#FFC48B, #CD7F32);
                color: #fff;
            }
        }
        .image {
            margin: 0;
        }
    }
    .cta {
        padding: 2em;
    }
}
