@import url("https://fonts.googleapis.com/css?family=Quicksand");
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Quicksand', sans-serif !important; }

ul.usergroups {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.usergroups li {
    width: 20%;
    float: left; }
    ul.usergroups li a {
      border: none; }
      ul.usergroups li a img {
        width: 100%; }
    ul.usergroups li.rounded img {
      border-radius: 100%; }

ul.logos {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.logos li {
    width: 10%;
    float: left; }
    ul.logos li a {
      border: none; }
      ul.logos li a img {
        width: 100%; }
    ul.logos li.trans img {
      width: 79%;
      margin-top: 13px; }

.organisers .row h3, .sponsors .row h3 {
  font-size: 1em; }

.organisers .row p, .sponsors .row p {
  font-size: 0.7em; }

.sponsors .sponsor {
  border: 1px solid #999;
  padding: 0.2em;
  border-radius: 5px;
  margin-bottom: 1em; }
  .sponsors .sponsor .sponsor-level {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    padding: 0 0.5em; }
    .sponsors .sponsor .sponsor-level.sponsor-level-gold {
      background: gold radial-gradient(lightyellow, gold); }
    .sponsors .sponsor .sponsor-level.sponsor-level-silver {
      background: #999 radial-gradient(#ddd, #999);
      color: #fff; }
    .sponsors .sponsor .sponsor-level.sponsor-level-bronze {
      background: #CD7F32 radial-gradient(#FFC48B, #CD7F32);
      color: #fff; }
  .sponsors .sponsor .image {
    margin: 0; }

.sponsors .cta {
  padding: 2em; }
